body{
    background-color: whitesmoke;
    font: 16px arial, sans-serif, Times;
}

.icon{
    padding: 15px;
    height: 50px;
    width: 50px;
    background: transparent;
    margin-top: -10px;
}
.header {
    height: 60px;
    width: 99%;
    background-color: #ae2012;
    padding: 15px;
    margin-top: -10px;
    margin-left: -10px;
}

.header h2{
    padding: 15px;
    text-align: center;
    margin-top: -78px;
    color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

.header p{
    padding: 15px;
    text-align: center;
    margin-top: -45px;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 16px;
}
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 32px;
}
.about-img img {
    width: 48%;
    border-radius: 8px;
    margin-left: 225px;
    margin-top: 0px;
}
.social-media {
    width          : 100%;
    display        : flex;
    align-items    : center;
    margin-bottom  : 20px;
}

.social-media button {
    border          : none;
    outline         : none;
    width           : 40px;
    height          : 40px;
    border-radius   : 50%;
    font-size       : 1.2em;
    cursor          : pointer;
    transition      : transform 0.3s;
    font-size: 19px;
    align-items: center;
    margin-right: 8px;
    margin-top: 0;
    text-align: center;
}

.about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    text-align: left;
}
.information {
    margin: 16px 0 22.4px;
}
.information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 22.4px;
    margin-top: -5px;
}
.information .info-box .bx {
    font-size: 22px;
}
.information .info-box span {
    font-weight: 400;
    margin-left: 16px;
}
.footer{
    height: 25px;
    width: 99%;
    background-color: #ae2012;
    padding: 15px;
    margin-top: 30px;
    margin-left: -10px;
    margin-bottom: -10px;
}

.footer .copy{
    text-align: center;
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 4px;
    cursor: pointer;
}

.footer .copy:hover{
    opacity: 2;
    color: black;
}

.kosong {
    height: 87px;
    width: 99%;
}